@font-face {
    font-family: ScheherazadeNew;
    src: url("ScheherazadeNew-Regular.ttf");
}

html {
    font-size: 2.5vh;
    font-family: "ScheherazadeNew";
    line-height: 1rem;
    width: 100%;
    height: 100%;

}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: 500 !important;
}

.mainPage {
    position: relative;
    width: 100vw;
    max-width: 27rem;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 0.5rem black;
    margin: auto;
}

main {
    height: 100%;
    width: 100%;
}

.mainLayout {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    padding: 1rem;
}

.header {
    position: relative;
}

.indexButton {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 5rem;
    background-color: #fbf7d0;
    border: 0.1rem solid #fff18c;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 999;
}

.indexButton:hover {
    background-color: #d6d6d6;
    border: 0.1rem solid rgb(101, 101, 101)
}

.indexButton input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.indexButton span {
    position: relative;
    background-color: rgb(31, 31, 31);
    height: 0.2rem;
    width: 1rem;
    border-radius: 1rem;
    transition: all 0.3s;
}

.indexButton input:checked~span:nth-last-child(1) {
    transform: translate(0rem, -0.4rem) rotate(-45deg);
}

.indexButton input:checked~span:nth-last-child(2) {
    opacity: 0;
}

.indexButton input:checked~span:nth-last-child(3) {
    transform: translate(0rem, 0.4rem) rotate(45deg);
}

h1 {
    margin: 0;
    margin-top: 0.25rem;
    font-style: italic;
    font-size: 0.8rem;
    display: block;
    text-align: center;
}

.numBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(50%);
    height: calc(11% - 1rem);
    background-color: #f7f7f7;
    border: 0.25rem solid #fff983;
    border-radius: 0.75rem;
    margin: 1rem auto;
    padding: 0.5rem;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.29);
    overflow: hidden;
}

.pageNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    border: 0.25rem solid #adadad;
    border-radius: 50rem;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.29);
    z-index: 4;
}

.pageNumber h2 {
    color: #FFFFFF;
    font-size: 1rem;
}

.pageLetter {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.35rem;
}

.pageLetter h2 {
    font-size: 2rem;

}

.allShapes {
    width: 100%;
    height: calc(100% - 11% - 5.1rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.main {
    width: 100%;
    height: 93%;
}

.shapes {
    display: flex;
    justify-content: space-between;
    width: 25rem;
    max-width: 95%;

}

.letterPicture {
    width: 27%;
}

.picture {
    width: calc(100% - 0.4rem);
    height: auto;
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 0.2rem solid #fff18c;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.29);
}

img {
    width: 100%;
    height: auto;
}

.englishWord {
    position: relative;
    top: -0.3rem;
    border: 0.2rem solid #fff18c;
    width: 80%;
    margin: 0 auto;
    background-color: #fbf7d0;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.29);
}

.englishWord h3 {
    text-align: center;
    font-size: 0.8rem;
}

.example {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 75%;
    background-color: #f2f2f2;
    border-radius: 10rem 50rem 50rem 10rem;
    border: 0.2rem solid #fff18c;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.29);
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 3;
}

.numBox .overlay {
    left: 0;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.arabicWord {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
    height: 100%;
}

.arabicWord h3 {
    font-size: 2.4rem;
    z-index: 2;
}

.arabicWord .line {
    position: absolute;
    top: 64%;
    width: 90%;
    border-bottom: 0.15rem dotted rgb(152, 152, 152);
}

.letterForm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
    height: 82%;
    background-color: #fbf7d0;
    border: 0.2rem solid #ffffff;
    border-radius: 50rem;
    box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.29);
    overflow: hidden;
    z-index: 4;
}

.letterForm h3 {
    position: relative;
    font-size: 2em;
    z-index: 2;
}

.letterForm .line {
    position: absolute;
    top: 63%;
    width: 65%;
    border-bottom: 0.15rem dotted rgb(152, 152, 152);
}

.pageIndex {
    text-align: center;
    margin: 0 1rem;
}

.onlyShape {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 80%;
}

.arExplain {
    width: calc(100%);
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin: 0;
    direction: rtl;
}

.onlyExample {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background-color: #fdffb8;
    border: 0.2rem solid #fff18c;
    border-radius: 1.5rem;
    margin: 1rem;
}

.onlyExample h3 {
    font-size: 5.5rem;
}

.enExplain {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin: 0;
}

.table {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    height: 93%;
}

.eachShape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 1rem);
    height: 30%;
    margin: 0 0.5rem;
}

.eachLetter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 5.5rem;
    background-color: #efefef;
    border: 0.2rem solid #acacac;
    border-radius: 1rem;
    overflow: hidden;
}

.circleNumber {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
    font-size: 0.75rem !important;
    border-radius: 5rem;
    top: 0;
    left: 0;
    margin: 0.35rem 0.35rem;
    color: #FFFFFF;
}

.eachLetter div {
    font-size: 2.5rem;
}

.redColor {
    color: #FF0000;
}

.greenColor {
    color: #00983a;
}

.blueColor {
    color: #3476bb;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%);
}

.indexContainer {
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid rgb(255, 255, 255)00;
}

.indexControl {
    display: flex;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border-radius: 5rem;
    background-color: #fbf7d0;
    border: 0.1rem solid #fff18c;
    cursor: pointer;
    transition: all 0.3s;
}

.indexControl:hover {
    background-color: #656565;
    border: 0.1rem solid #656565;
}

.indexControl:active {
    transform: scale(0.75);
}

.arrow {
    margin: 0 auto;
    border: solid black;
    border-width: 0px 3px 3px 0;
    padding: 0.2rem;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.indexPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    overflow-y: scroll;
    opacity: 0;
}

.rowLetters {
    width: calc(100% - 2.5rem);
    height: 6rem;
    padding: 1rem 1.25rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

.letterIndex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    width: 30%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 1rem;
    overflow: hidden;
}